  <div class="navbar-lewagon" >
    <div class="navbar-padding">
      <div class="truc">
      <h3>Cocktail kit</h3>
      <div>
        <%= link_to "Back to the list", root_path, class: "pale-button button-to-list text-white" %>
      </div>
      </div>
    </div>
  </div>
