<h1>@doses.cocktail</h1>

<ul class="list-group-item">
  <% @doses.each do |dose| %>
  <li class="list-group-item"><%= dose.cocktail_id %></li>
  <li class="list-group-item"><%= dose.description %></li>
  <li class="list-group-item"><%= dose.ingredient_id %></li>
  <% end %>
</ul>
