.navbar-lewagon {
  justify-content: space-between;
  background: white;
}
.navbar-padding {
  padding: 1em 1em;
}
.truc {
    display: flex;
    justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
